.site-form {
    margin: 2rem;
    padding: 2rem 2rem;
    min-width: 20rem;
}

legend {
    font-size: 1.5rem;
    padding: 0.25rem;
    color: var(--coral);
    font-size: 2rem;
    text-align: center;
    position: relative;
}

label {
    display: block;
    padding: .25rem;
}

input {
   border: solid 2px var(--muted-pink);
   width: 60%;
   padding: 0.2rem;
   font-size: 1rem;
}

textarea {
    border: solid 2px var(--muted-pink);
    padding: 0.2rem;
    width: 100%;
    font-size: 1rem;
}

button {
    border: solid 3px var(--coral);
    background-color: var(--coral);
    font-size: 1.5rem;
    text-align: center;
    color:white;
}

button:hover {
    color: var(--gray)
}

