*{
    font-family:Georgia, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --coral: #ee5356ff;
    --muted-pink: #aa7c89ff;
    --light-pink: #d6b8c1ff;
    --fuchsia: #c15b74ff;
    --gray: #c3c3c7ff;
}

body {
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: .5fr 2fr .5fr;
    min-height: 100svh;
}

nav {
    color: white;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.panel {
    background-image: url(../images/panel.jpg);
    background-position:left 135rem top 48rem;
    
}

.site-header {
    grid-column: 1/-1;
    background-color: var(--coral);
    position:relative;
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    color: white
}

.site-footer {
    grid-column: 1/-1;
    background-color: var(--muted-pink);
}

.footer-list {
    max-width: 6rem;
}

.footer-list:hover {
    color: var(--gray);
}