*{
    font-family:Georgia, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --coral: #ee5356ff;
    --muted-pink: #aa7c89ff;
    --light-pink: #d6b8c1ff;
    --fuchsia: #c15b74ff;
    --gray: #c3c3c7ff;
}

[data-theme="light"] {
  background-color: white;
}

[data-theme="dark"] {
  background-color: black;
}

body {
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: 6.5rem 2fr 8.5rem;
    min-height: 100svh;
}

nav {
    color: white;
    margin: 1.15rem;
    font-size: 1.5rem;
}

.icon-button {
  box-shadow: none;
  font-size: 1.2rem;
  padding: 0.4rem;
}

#toggleButton {
  display: flex;
  background: none;
  border: none;
  outline: none;
  transition: transform 0.3s;

}

#toggleButton:hover {
  background-color: var(--fuchsia);
}

.panel {
    background-image: url(../images/panel.jpg);
    background-position:left 135rem top 48rem;
}

.site-header {
    grid-column: 1/-1;
    background-color: var(--coral);
    position:relative;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3rem;
    color: white;
    border-bottom: solid 15px var(--gray);
}

.site-footer {
    grid-column: 1/-1;
    background-color: var(--muted-pink);
    border-top: solid 15px var(--gray);
}

.footer-list {
    max-width: 6rem;
}

.footer-list:hover {
    color: var(--gray);
}

.light {
    background-color: white;
}

