*{
    font-family:Georgia, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --coral: #ee5356ff;
    --muted-pink: #aa7c89ff;
    --light-pink: #d6b8c1ff;
    --fuchsia: #c15b74ff;
    --gray: #c3c3c7ff;
}

body {
    display: grid;
    grid-template-columns: 1fr 75vw 1fr;
    min-height: 100svh;
}

p {
    position:relative;
    text-align: center;
    padding: 1.2rem;
    font-size: 3rem;
}

.panel {
    background-image: url(../images/panel.jpg);
    max-height: 100%;
    
}

.site-header {
    grid-column: 1/-1;
    background-color: var(--coral);
}

.site-footer {
    grid-column: 1/-1;
}